*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    padding-left: 250px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

.pop .img1{
    width: 40px;
    border-radius: 50%;
}

.pop .img2 {
    width: 40px;
    border-radius: 50%;
    margin-left: -13px;
}

.pop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple{
    width: 40px;
    height: 40px;
    background-color: purple;
    border-radius: 50%;
    margin-left: -10px;
}

.purple h4{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 30%;
}

.img3 {
    width: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

.sen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}

.input{
    flex-basis: 70%;
    padding: 0 20px;
}

.input i {
    color: gray;
    margin-right: -30px;
}

input{
    background-color: transparent;
    width: 400px;
    height: 40px;
    padding: 10px 40px;
    outline: none;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.219);
}

.hdn{
    display: flex;
    flex-basis: 30%;
    justify-content: space-evenly;
    gap: 20px;
}

.icon{
    border: 1px solid gray;
    padding: 10px;
    position: relative;
}

.icon i{
    color: gray;
}

.icon .red{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 9px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

/* SEN #2 */

.sen2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}

.ul1 ul li{
    display: inline;
    flex-basis: 50%;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.ul1 ul li:hover{
    color: purple;
}

.active{
    background-color: purple;
}

.active:hover {
    background-color: white;
    color: purple;
}

.ul2 ul li {
    display: inline;
    flex-basis: 50;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: darkgray;
    cursor: pointer;
}

.ul2 ul li:hover{
    background-color: white;
    color: darkgray;
}

/* SEN #3 */

.sen3{
    display: flex;
    align-items: top;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px 0;
    color: white;
    gap: 30px;
    overflow-x: auto;
}

.sen3::-webkit-scrollbar{
    width: 10px;
}

.sen3::-webkit-scrollbar-track{
    background-color: transparent;
}

.sen3::-webkit-scrollbar-thumb{
    background-color: white;
}

.flex {
    min-width: 25%;
}

/* Todo */
.Todo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.Todo .blue{
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
}

.Todo .pink {
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
}

.Todo .green {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.Todo .white h6{
    text-align: center;
    margin-left: 1px;
    margin-top: 2px;
}

.Todo .white{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.flex .dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img img {
    width: 100%;
    margin-top: 10px;
}

.fit1{
    background-color: rgba(169, 169, 169, 0.123);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.text{
    padding: 10px 0;
    border-bottom: 2px solid white;
    line-height: 20px;
}

.fit2{
    background-color: rgba(169, 169, 169, 0.123);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.fit3{
    background-color: rgba(169, 169, 169, 0.123);
    padding: 10px;
    border-radius: 10px;
}

/* flex2 */

.flex2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.flex2 i{
    color: rgb(245, 133, 245);
}

.flex2 img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover
} 

.flex2 .img2{
    border-radius: 50%;
    margin-left: -10px;
}

/* sidebar */

.sidebar{
    position: fixed;
    background-color: black;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: 2px solid rgba(128, 128, 128, 0.219);
    padding: 20px;
}

.sidebar span{
    color: purple;
}

.sidebar i{
    margin-right: 5px;
}
.sidebar ul li{
    padding: 20px;
    cursor: pointer;
}

.sidebar ul li:hover{
    color: purple;
}

.side{
    position: absolute;
    background-color: rgba(169, 169, 169, 0.123);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    bottom: 30px;
}

button{
    background-color: purple;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    margin-top: 10px;

}

@media (max-width: 768px){
    .sen2{
        width: 700px;
    }
    .sen3{
        margin-left: 100px;
        width: 500px;
    }
    .sen3::-webkit-scrollbar-thumb{
        background-color: transparent;
    }
    .flex{
        min-width: 50%;
    }
    .sidebar ul li{
        padding: 60px;
    }
}